
div.navbar-header img {
    width: 30px;
    float: left;
    margin-right: 7px;
    background-color: D3D3D3;
}

img.cart {
    height: 15px;
}

div.summary img {
    width: 15em;
}

div.summary .price {
    margin: 0.5em 0;
    font-size: 150%;
    font-weight: bold;
}


.warning {
    color: red;
}


.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

