<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>ZenInventory</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/zen_rock.svg" height=100px>

        <h1>ZenInventory</h1>

        <p class="lead">For Your Business's Peace of Mind</p>

        <a href="{{auth_url}}" class="btn btn-lg btn-primary">Click to Install</a>

    </div>
</div>

<footer>
    <p>Copyright ZenInventory 2016. All rights reserved.</p>
</footer>

</body>
</html>
</html>